.Page_User {
  margin-top: 12vh;
  padding-top: 43px;
  position: relative;
}
.profillike {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.IconContainerProf {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.end {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

button {
  margin: 20px auto 0 auto;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.16);
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.privating {
  -webkit-text-security: disc;
}
.value2 {
  margin-left: 30px;
}
