.form-control label {
  font-weight: 550;
  margin-bottom: 0.5rem;
}
.form-control {
  margin-bottom: 20px;
}
.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border-radius: 40px;
  border: 0px solid #ccc;
  height: 44px;
  background: white;
  padding: 5px;
  padding-left: 15px;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.16);
}
.input {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.9rem 0.25rem;
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: white;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

form button {
  width: 94%;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
