.modal {
  z-index: 100;
  position: fixed;
  display: flex;
  margin: 0 auto 0 auto;
  width: 90%;
  max-width: 342px;
  background: rgba(255, 255, 255, 0.72);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
  border-radius: 69px;
  padding: 30px;
  overflow: visible;
}
.errorText {
  position: absolute;
  left: 50%;
  font-size: 10px;
  transform: translateX(-50%);
  bottom: -5px;
  text-align: center;
  color: red;
}
.modal label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
#modal-hook {
  display: flex;
  justify-content: center;
}
.imgquitmodal {
  position: absolute;
  top: -15px;
  left: -20px;
}
.modal__header {
  width: 100%;

  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  display: flex;

  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;
}

.modal__footer {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}

.modal-enter {
  transform: translateY(+10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(10rem);
  opacity: 0;
  transition: all 200ms;
}
