.Header {
  background-color: #f19b44;
  height: 12vh;
  max-height: 120px;
  min-height: 90px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background: #f19b44;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background: rgb(255, 166, 77);
  background: linear-gradient(90deg, #ffa64d 0%, #feb175 100%);
  z-index: 5;
}
.IconNav {
  height: 85px;
  border-radius: 22px;
  width: 85px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
}
.Header_img {
  height: 82%;
  margin: 0 auto 0 auto;
  display: block;
  margin: auto;
}
